/*Alex Nagel*/
@import url("http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic,400,600");
@import url("../font/font-awesome/css/font-awesome.min.cssfont-awesome.min.css");
body {
text-align:center;

font-family: 'Source Sans Pro', sans-serif;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7d7e7d+0,0e0e0e+100;Black+3D */
background: #7d7e7d; /* Old browsers */
background: -moz-linear-gradient(top, #7d7e7d 0%, #0e0e0e 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7d7e7d), color-stop(100%,#0e0e0e)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #7d7e7d 0%,#0e0e0e 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #7d7e7d 0%,#0e0e0e 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #7d7e7d 0%,#0e0e0e 100%); /* IE10+ */
background: linear-gradient(to bottom, #7d7e7d 0%,#0e0e0e 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#0e0e0e',GradientType=0 ); /* IE6-9 */
}
section{
}
header {

}
footer {
page-break-after:always;

}
h1 {
font-size: 32px;
letter-spacing: 3px;
}
.abutton {
margin-top:5%;
background-color:#ffffff;;
border-radius:28px;
border:1px solid #FFFFFF;
display:inline-block;
cursor:pointer;
color:black;
font-family: FontAwesome;
font-size:22px;
padding:16px 31px;
text-decoration:none;
padding-left: 3%;
padding-right: 3%;
padding-top: 1%;
padding-bottom: 1%
}
.abutton:hover {
background-color:#808080;
color:white;
}
.button {
background-color:#808080;
border-radius:28px;
border:1px solid #FFFFFF;
display:inline-block;
cursor:pointer;
color:black;
font-family: FontAwesome;
font-size:17px;
padding:16px 31px;
text-decoration:none;

}
.button:hover {

color:#ffffff;
}
input[type=submit]{
background:transparent;
border:0;
background-color:#808080;
border-radius:28px;
border:1px solid #FFFFFF;
display:inline-block;
cursor:pointer;
color:black;
font-family: FontAwesome;
font-size:17px;
padding:16px 31px;
text-decoration:none;
}
input[type=submit]:hover {
color:#ffffff;
}
.about {

}
.box {

width: 70%;
background: #ffffff;
padding: 3em;
position: relative;
margin-left: auto;
margin-right: auto;
margin-top: 9em;
margin-bottom: 0;
border-radius: 30px;
}
#header {
margin-top:25%;
margin-bottom: 75%;
}
#aboutme {

color: black;
}
#contact {

color: black;

}
#contact div{
padding-bottom: 2%;
}
.text {
border-radius: 30px;
padding: 10px;
width: 25%;
border-width: 4px;
text-align: center;
}
.message {
height: 6em;
width: 50%;
border-radius: 30px;
padding: 10px;
border-width:4px;
}
#footer {
margin-top: 3em;
}
#footer header{
color: white;
padding: 0.75em 2em 0.75em 2em;
border-radius: 3em;
border: solid 1px #fff;
display: inline-block;
margin: 0 0 3em 0;
}
#footer header p {
width: 2em;
height: 2em;
line-height: 2em;
padding-left: 0.5em;
display: inline-block;
width: 2.5em;
height: 2.5em;
line-height: 2.5em;
text-align: center;
border: 0;
}
#header header{
line-height:2px;
}
#header header p{
font-size:20px;
}
#footer footer{
color: white;
}
#resume header{
text-align:center;
}
#resume header p {
padding-left:0px;
}
#resume{
text-align: left;
}
#resume .history-item {
display: flex;
}
#resume .history-date {
font-size: 18px;
width: 90px;
line-height:2px;
}
#resume .height , h3{
font-size: 18px;
line-height:2px;
}
#resume .history-desc {

width: 100%;
}
#resume .button {
position: absolute;
margin-top: 0px;
margin-left: 25%;
}
#footer a {
color: white;
text-decoration: none;
}
#footer a:hover {
color: #009933;
}
#capatcha {
margin-top: -1%;
padding-left: 32%;
}
.g-recaptcha {

data-theme: dark;
data-size: compact;
}
#sendit {
margin-top: -5%;
}
@media only all and (max-width: 693px) {
#resume .history-date {

line-height: 1em;
}
#resume .height , h3{
line-height: 1em;
}
}